footer.footer
    .container
        .footer__inner
            .footer__social 
                i.icon-fb
                i.icon-vk
                i.icon-ig
                i.icon-tw
                i.icon-be
            .footer__policy Политика конфиденциальности
            .footer__copyright 
                i.icon-logo 
                p 2021 © Riverstart Digital. Все права защищены
            