.footer {
    $root: &;
    margin-top: auto;
    margin-bottom: 27px;
    &__inner{
        position: relative;
    }
    &__social{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 80px 0;
    }
    &__copyright{
        margin: 20px 0;
        display: flex;
    }

}
@media (min-width: 689px) {
    .footer{
        margin-top: 105px;
    }
    .footer__social{
        width: 30%;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
    }
}
@media (min-width:1280px) {
    .footer__social{
        display: none;
    }
    .footer__inner{
        display: flex;
        align-items: center;
   gap: 35px;

    }
    .footer__copyright {
        order: -1;
    }    
}